name: api-gateway

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  IMAGE_NAME: "hassan233/api-gateway"

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      image_tag: 1.0.${{ github.run_number }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '21'

      - name: Build JAR
        run: mvn clean package

      - name: Build Docker image
        run: |
          docker build -t $IMAGE_NAME:latest .
          docker build -t $IMAGE_NAME:1.0.${{ github.run_number }} .

      - name: Log in to DockerHub
        run: |
          echo "$DOCKERHUB_TOKEN" | docker login -u hassan233 --password-stdin

      - name: Push Docker images
        run: |
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:1.0.${{ github.run_number }}

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Install SSH client
        run: |
          sudo apt-get update
          sudo apt-get install -y openssh-client

      - name: Setup SSH
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}"
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 185.226.117.103 >> ~/.ssh/known_hosts

      - name: Deploy with Helm
        run: |
          ssh ubuntu@185.226.117.103 << 'EOF'
            set -e
            cd /opt/Helm/api-gateway
            helm upgrade --install api-gateway . \
              --namespace app \
              --create-namespace \
              --set image.tag=1.0.${{ github.run_number }}
          EOF
