name: api-gateway

on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      deploy_namespace:
        description: "Select target namespace"
        required: true
        default: "app"
        type: choice
        options:
          - app
          - test


env:
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  IMAGE_NAME: "hassan233/api-gateway"


jobs:
  build:
    if: contains(github.event.head_commit.message, 'build')
    runs-on: ubuntu-latest

    outputs:
      image_tag: 1.0.${{ github.run_number }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '21'

      - name: Build JAR
        run: mvn clean package

      - name: Build Docker image
        run: |
          docker build -t $IMAGE_NAME:latest .
          docker build -t $IMAGE_NAME:1.0.${{ github.run_number }} .

      - name: Log in to DockerHub
        run: |
          echo "$DOCKERHUB_TOKEN" | docker login -u hassan233 --password-stdin

      - name: Push Docker images
        run: |
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:1.0.${{ github.run_number }}

  deploy:
    needs: build
    if: contains(github.event.head_commit.message, 'build') || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest

    steps:
      - name: Install SSH client
        run: |
          sudo apt-get update
          sudo apt-get install -y openssh-client

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 185.226.117.103 >> ~/.ssh/known_hosts

      - name: Deploy with Helm
        run: |
          ssh ubuntu@185.226.117.103 << 'EOF'
            NAMESPACE="${{ github.event.inputs.deploy_namespace || 'app' }}"
  
            echo "Deploying to namespace: $NAMESPACE"
  
            cd /opt/Helm/api-gateway
            helm upgrade --install api-gateway . \
              --namespace $NAMESPACE \
              --create-namespace \
              --set image.tag=1.0.${{ github.run_number }}
          EOF
